<header>
    <div class="container">
        <div class="logo">
            <%= link_to "Potepan Share", "/" %>
        </div>
        <% if user_signed_in? %>
            <div class="user-function">
                <div class="user-icon">
                    <%= image_tag current_user.icon %>
                    <p id="toggle"><%= current_user.name %><span class="close" id="button">▼</span></p>
                </div>
                <div class="user-menu">
                    <%= link_to "施設の新規登録", new_room_path %>
                    <%= link_to "予約済み一覧", "#" %>
                    <%= link_to "登録済み一覧", "#" %>
                    <%= link_to "アカウント設定", edit_user_registration_path %>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </div>
            </div>
        <% else %>
            <div class="header-functions">
                <%= link_to "新規登録", new_user_registration_path %>
                <%= link_to "ログイン", new_user_session_url %>
            </div>
        <% end %>
    </div>
</header>