<div class="form-wrapper" >
    <div class="container">
        <%= form_with(url:rooms_path, method: :get, class: "search-field") do |f| %>
            <div class="field">
                <%= f.text_field :address, autofocus: true, placeholder: "エリア名を入力" %>
            </div>
            <div class="field">
                <%= f.text_field :keyword, autofocus: true, placeholder: "キーワードを入力" %>
            </div>
            <%= f.hidden_field :search, value: "2" %>
            <div class="actions">
                <%= f.submit "検索" %>
            </div>
        <% end %>
    </div>
</div>