<div class="first-view">
    <div class="container">
        <h1>Potepan Shareで<br>
            まだ体験したことのない<br>
            旅をしよう</h1>
        <div class="area-search">
            <div class="search-wrapper">
                <%= form_with(url:rooms_path, method: :get) do |f| %>
                    <div class="field">
                        <%= f.text_field :address, autofocus: true, placeholder: "エリア名を入力" %>
                    </div>
                    <%= f.hidden_field :search, value: "1" %>
                    <div class="actions">
                        <%= f.submit "検索" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="recommend">
        <p>おすすめのエリア</p>
        <div class="areas">
            <%= link_to render("shared/area",  pic:"Tokyo.jpg", p1:"東京", p2:"Tokyo"), rooms_path(search: 1, address: "東京") %>
            <%= link_to render("shared/area",  pic:"Osaka.jpg", p1:"大阪", p2:"Osaka"), rooms_path(search: 1, address: "大阪") %>
            <%= link_to render("shared/area",  pic:"Kyoto.jpg", p1:"京都", p2:"Kyoto"), rooms_path(search: 1, address: "京都") %>
            <%= link_to render("shared/area",  pic:"Sapporo.jpg", p1:"札幌", p2:"Sapporo"), rooms_path(search: 1, address: "札幌") %>
        </div>
    </div>
</div>